td.dezena01 {
  background-color: rgba(240,80,0,0.451851851851852);
  color: rgba(18,18,18,0.684044698278248);
}
td.dezena02 {
  background-color: rgba(240,80,0,0.585185185185185);
  color: rgba(18,18,18,0.31822805685305);
}
td.dezena03 {
  background-color: rgba(240,80,0,0.540740740740741);
  color: rgba(18,18,18,0.684044698278248);
}
td.dezena04 {
  background-color: rgba(240,80,0,0.866666666666667);
  color: rgba(18,18,18,0.800094324448681);
}
td.dezena05 {
  background-color: rgba(240,80,0,1.0);
  color: rgba(18,18,18,0.163962360894481);
}
td.dezena06 {
  background-color: rgba(240,80,0,0.496296296296296);
  color: rgba(18,18,18,0.733157937199315);
}
td.dezena07 {
  background-color: rgba(240,80,0,0.540740740740741);
  color: rgba(0,0,0,1.0);
}
td.dezena08 {
  background-color: rgba(240,80,0,0.6);
  color: rgba(18,18,18,0.1);
}
td.dezena09 {
  background-color: rgba(240,80,0,0.303703703703704);
  color: rgba(18,18,18,0.800094324448681);
}
td.dezena10 {
  background-color: rgba(240,80,0,0.674074074074074);
  color: rgba(18,18,18,0.550272641794739);
}
td.dezena11 {
  background-color: rgba(240,80,0,0.422222222222222);
  color: rgba(18,18,18,0.457076371132975);
}
td.dezena12 {
  background-color: rgba(240,80,0,0.688888888888889);
  color: rgba(0,0,0,1.0);
}
td.dezena13 {
  background-color: rgba(240,80,0,0.718518518518519);
  color: rgba(18,18,18,0.333415309644847);
}
td.dezena14 {
  background-color: rgba(240,80,0,0.407407407407407);
  color: rgba(18,18,18,0.417939419804082);
}
td.dezena15 {
  background-color: rgba(240,80,0,0.362962962962963);
  color: rgba(18,18,18,0.643808579804702);
}
td.dezena16 {
  background-color: rgba(240,80,0,0.688888888888889);
  color: rgba(18,18,18,0.198676946124583);
}
td.dezena17 {
  background-color: rgba(240,80,0,0.733333333333333);
  color: rgba(18,18,18,0.578250271125487);
}
td.dezena18 {
  background-color: rgba(240,80,0,0.437037037037037);
  color: rgba(18,18,18,0.800094324448681);
}
td.dezena19 {
  background-color: rgba(240,80,0,0.466666666666667);
  color: rgba(18,18,18,0.235636169748457);
}
td.dezena20 {
  background-color: rgba(240,80,0,0.466666666666667);
  color: rgba(18,18,18,0.500625720551611);
}
td.dezena21 {
  background-color: rgba(240,80,0,0.274074074074074);
  color: rgba(18,18,18,0.417939419804082);
}
td.dezena22 {
  background-color: rgba(240,80,0,0.214814814814815);
  color: rgba(18,18,18,0.609102740028241);
}
td.dezena23 {
  background-color: rgba(240,80,0,0.62962962962963);
  color: rgba(18,18,18,0.578250271125487);
}
td.dezena24 {
  background-color: rgba(240,80,0,0.777777777777778);
  color: rgba(0,0,0,1.0);
}
td.dezena25 {
  background-color: rgba(240,80,0,0.451851851851852);
  color: rgba(18,18,18,0.609102740028241);
}
td.dezena26 {
  background-color: rgba(240,80,0,0.2);
  color: rgba(18,18,18,0.733157937199315);
}
td.dezena27 {
  background-color: rgba(240,80,0,0.6);
  color: rgba(0,0,0,1.0);
}
td.dezena28 {
  background-color: rgba(240,80,0,0.688888888888889);
  color: rgba(18,18,18,0.643808579804702);
}
td.dezena29 {
  background-color: rgba(240,80,0,0.733333333333333);
  color: rgba(18,18,18,0.500625720551611);
}
td.dezena30 {
  background-color: rgba(240,80,0,0.614814814814815);
  color: rgba(0,0,0,1.0);
}
td.dezena31 {
  background-color: rgba(240,80,0,0.525925925925926);
  color: rgba(18,18,18,0.684044698278248);
}
td.dezena32 {
  background-color: rgba(240,80,0,0.659259259259259);
  color: rgba(18,18,18,0.684044698278248);
}
td.dezena33 {
  background-color: rgba(240,80,0,0.837037037037037);
  color: rgba(18,18,18,0.303500264333178);
}
td.dezena34 {
  background-color: rgba(240,80,0,0.614814814814815);
  color: rgba(18,18,18,0.550272641794739);
}
td.dezena35 {
  background-color: rgba(240,80,0,0.422222222222222);
  color: rgba(18,18,18,0.478214758503832);
}
td.dezena36 {
  background-color: rgba(240,80,0,0.659259259259259);
  color: rgba(18,18,18,0.524541496609891);
}
td.dezena37 {
  background-color: rgba(240,80,0,0.614814814814815);
  color: rgba(18,18,18,0.382178312967022);
}
td.dezena38 {
  background-color: rgba(240,80,0,0.511111111111111);
  color: rgba(18,18,18,0.609102740028241);
}
td.dezena39 {
  background-color: rgba(240,80,0,0.362962962962963);
  color: rgba(18,18,18,0.478214758503832);
}
td.dezena40 {
  background-color: rgba(240,80,0,0.555555555555556);
  color: rgba(18,18,18,0.550272641794739);
}
td.dezena41 {
  background-color: rgba(240,80,0,0.703703703703704);
  color: rgba(18,18,18,0.457076371132975);
}
td.dezena42 {
  background-color: rgba(240,80,0,0.688888888888889);
  color: rgba(18,18,18,0.11021618913435);
}
td.dezena43 {
  background-color: rgba(240,80,0,0.762962962962963);
  color: rgba(18,18,18,0.684044698278248);
}
td.dezena44 {
  background-color: rgba(240,80,0,0.614814814814815);
  color: rgba(18,18,18,0.800094324448681);
}
td.dezena45 {
  background-color: rgba(240,80,0,0.333333333333333);
  color: rgba(18,18,18,0.733157937199315);
}
td.dezena46 {
  background-color: rgba(240,80,0,0.333333333333333);
  color: rgba(18,18,18,0.800094324448681);
}
td.dezena47 {
  background-color: rgba(240,80,0,0.585185185185185);
  color: rgba(18,18,18,0.382178312967022);
}
td.dezena48 {
  background-color: rgba(240,80,0,0.392592592592593);
  color: rgba(18,18,18,0.800094324448681);
}
td.dezena49 {
  background-color: rgba(240,80,0,0.718518518518519);
  color: rgba(0,0,0,1.0);
}
td.dezena50 {
  background-color: rgba(240,80,0,0.748148148148148);
  color: rgba(18,18,18,0.733157937199315);
}
td.dezena51 {
  background-color: rgba(240,80,0,0.822222222222222);
  color: rgba(18,18,18,0.609102740028241);
}
td.dezena52 {
  background-color: rgba(240,80,0,0.762962962962963);
  color: rgba(18,18,18,0.684044698278248);
}
td.dezena53 {
  background-color: rgba(240,80,0,0.822222222222222);
  color: rgba(18,18,18,0.578250271125487);
}
td.dezena54 {
  background-color: rgba(240,80,0,0.851851851851852);
  color: rgba(18,18,18,0.550272641794739);
}
td.dezena55 {
  background-color: rgba(240,80,0,0.377777777777778);
  color: rgba(18,18,18,0.478214758503832);
}
td.dezena56 {
  background-color: rgba(240,80,0,0.540740740740741);
  color: rgba(18,18,18,0.733157937199315);
}
td.dezena57 {
  background-color: rgba(240,80,0,0.481481481481482);
  color: rgba(18,18,18,0.399685998757014);
}
td.dezena58 {
  background-color: rgba(240,80,0,0.481481481481482);
  color: rgba(18,18,18,0.303500264333178);
}
td.dezena59 {
  background-color: rgba(240,80,0,0.585185185185185);
  color: rgba(18,18,18,0.524541496609891);
}
td.dezena60 {
  background-color: rgba(240,80,0,0.481481481481482);
  color: rgba(18,18,18,0.733157937199315);
}
